<div id="<%= dom_id unit_of_measure %>">
  <div>
    <strong>Name:</strong>
    <%= unit_of_measure.name %>
  </div>

  <div>
    <strong>Symbol:</strong>
    <%= unit_of_measure.symbol %>
  </div>

  <div>
    <strong>Is decimal:</strong>
    <%= unit_of_measure.is_decimal %>
  </div>

</div>
