<div class="main-content">
  <%= render 'layouts/alerts' %>

  <div class="page-header">
    <h2 class="header-title">Edit Document</h2>
    <div class="header-sub-title">
      <nav class="breadcrumb breadcrumb-dash">
        <a href="/" class="breadcrumb-item"><i class="anticon anticon-home m-r-5"></i>Home</a>
        <a class="breadcrumb-item" href="/suppliers">Suppliers</a>
        <span class="breadcrumb-item active">Edit Document</span>
      </nav>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">
          <div class="m-t-10">
            <%= render 'form', supplier: @supplier, document: @supplier_document %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


