<div id="<%= dom_id product_category %>">
  <div>
    <strong>Name:</strong>
    <%= product_category.name %>
  </div>

  <div>
    <strong>Parent:</strong>
    <%= product_category.parent_id %>
  </div>

  <div>
    <strong>Deleted:</strong>
    <%= product_category.deleted %>
  </div>

</div>
