<div class="header">
  <div class="logo logo-dark">
    <a href="/home">
       <img src="/theme_assets/images/logo/logo.jpg" alt="Logo" width="45%" class="float-left ml-3 mt-2">
      <img class="logo-fold float-left ml-2 mt-0" src="/theme_assets/images/logo/logo2.jpg" alt="Logo" height="65px">

    </a>
  </div>
  <div class="nav-wrap">
    <ul class="nav-left">
      <li class="desktop-toggle">
        <a href="javascript:void(0);">
          <i class="anticon"></i>
        </a>
      </li>
      <li class="mobile-toggle">
        <a href="javascript:void(0);">
          <i class="anticon"></i>
        </a>
      </li>
    </ul>
    <ul class="nav-right">
      
      <li class="dropdown dropdown-animated scale-left">
        <div class="pointer" data-toggle="dropdown">
          <% if current_user.avatar.url.present? %>
            <div class="avatar avatar-icon">
              <img src="<%= current_user.avatar.url %>" alt="">
            </div>
          <% else %>
            <div class="avatar avatar-icon">
              <i class="anticon anticon-user"></i>
            </div>
          <% end %>
          <span><%= current_user.full_name || 'N/A' %></span>
        </div>
        <div class="p-b-15 p-t-20 dropdown-menu pop-profile">
          <div class="p-h-20 p-b-15 m-b-10 border-bottom">
            <div class="d-flex">
              <div class="m-l-0">
                <p class="m-b-0 text-dark font-weight-semibold"><%= current_user.full_name || 'N/A' %></p>
                <p class="m-b-0 opacity-07"><%= current_user.email %></p>
              </div>
            </div>
          </div>
          <% if user_signed_in? %>
            <a href = "<%#= url 'user_profile' current_user.pk %>" class="dropdown-item d-block p-h-15 p-v-10">
              <div>
                <i class="anticon opacity-04 font-size-16 anticon-user"></i>
                <span class="m-l-10">Profile</span>
              </div>
            </a>
            <a href="<%#=  url 'user_logout' %>" class="dropdown-item d-block p-h-15 p-v-10">
              <div class="d-flex align-items-center justify-content-between">
                <div>
                  <i class="anticon opacity-04 font-size-16 anticon-logout"></i>
                  <span class="m-l-10">Logout</span>
                </div>
                <i class="anticon font-size-10 anticon-right"></i>
              </div>
            </a>
          </div>
        <% end %>
      </li>
    </ul>
  </div>
</div>
